body {
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  color: #0d0d0d;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: rgb(44, 112, 195);
  background: linear-gradient(90deg, rgba(44, 112, 195, 1) 0%, rgba(139, 179, 86, 1) 49%, rgba(226, 1, 25, 1) 100%);
}


#Searchfield {
  border-radius: 12px;
  padding: 10px 12px;
  font-size: 20px;
  margin: 2px;
}


#form {
  width: 100vw;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title h1 {
  color: black;
  font-size: 60px;
}

#title p {
  color: black;
  float: right;
  font-size: smaller;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content article {
  width: 400px;
  padding: 20px 100px;

}

#content img {
  width: 100%;
}

#form button {
  font-size: 16px;
  background-color: #2275D3;
  border: none;
  border-radius: 20px;
  color: white;
  height: 30px;
  text-align: center;
  padding: 6px 10px;
  text-decoration: none;
  display: inline-block;
}