body {
  font-family: sans-serif;
  padding: 20px;
  background-image: url(/background\ school.png);
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  color: #0d0d0d;
}

main {
  margin: auto;
  width: 50%;
}


#Searchfield {
  border-radius: 12px;
  padding: 10px 12px;
  font-size: 20px;
  margin: 2px;
}


form {
  width: 100%;
  display: flex;
  align-items: flex-end;
}


#container {
  width: 100w;
  height: 100vh;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 70px;
  color: white;
  font-size: 60px;
}

#content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#content article {
  width: 350px;
  padding: 20px 20px;

}

#content img {
  width: 100%;
}

button {
  font-size: 16px;
  font-weight: bold;
  background-color: #2275D3;
  border: none;
  border-radius: 20px;
  color: white;
  height: 30px;
  text-align: center;
  padding: 6px 12px;
  margin-left: 20px;
  text-decoration: none;
  display: inline-block;
}